.gif-header {
    margin: 0 0 1.5rem 0;
    position: sticky;
    top: 0;
    background-color: var(--bg-color);

    .gif-header-cont {
        margin: 2.19rem 0 0 0;
        display: flex;
        justify-content: space-between;
        position: relative;

        .gif-header-cont__right {
            position: absolute;
            display: flex;
            justify-content: space-between;
            right: 0;
            width: 26.28rem;
            top: 50%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);

            .gif-dropdown {
                position: relative;
                overflow: hidden;
            
                .gif-dropdown__options {
                    position: absolute;
                    width: 100%;
                    z-index: 2;
                    background-color: var(--box-color);
                    box-shadow: inset -2px -2px 0 0 var(--box-color-shadow1), inset 2px 2px 0 0 $color-white;
                    padding: 0 0 0.315rem 0;
                    display: none;
                }
            
                .show {
                    display: block;
                }
            }
            
            .show {
                overflow: visible;
            }
        }
    }
}

.gif-header__link {
    height: 2.25rem;
    line-height: 2.25rem;
    color: var(--color-font);
    align-content: center;
    border: 1px solid transparent;
    padding: 0 0.2rem;

    &:hover {
        cursor: pointer;
        outline: 1px dotted var(--color-font);
        outline-offset: -0.25rem;
    }
}

.bottom-line {
    border-bottom: solid 1px var(--main-button-hover-box);
}