* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: $font-family-main;
    color: $color-font;
    background-color: var(--bg-color);
    height: 100%;

    a {
        text-decoration: none;
    }
}

.gif-div__title {
    height: 1.5rem;
    box-shadow: 0 1px 0 0 $color-font-dark;
    background-image: linear-gradient(270deg, var(--color-primary-light), var(--color-primary-dark));

    font-size: 0.75rem;
    line-height: 1.5rem;
    color: $color-font;
    letter-spacing: 0;
    padding: 0 0 0 0.5rem;
    overflow: hidden;
}

.section-title {
    display: flex;
    justify-content: space-between;
    font-size: 0.88rem;
    font-weight: 600;
    box-shadow: none;
    margin: 0.2rem;

    img {
        padding: 0 0.3rem 0 0;
    }
}

.gif-center-helper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gif-container {
    width: 85%;
    max-width: 74.63rem;
    margin: 0 auto;
}

.gif-search, .gif-suggested, .gif-trending {
    margin: 0 0 4rem 0;
}

.gif-section__title {
    height: 2rem;
    border: 1px solid var(--section-title-border);
    box-shadow: inset -2px -2px 0 0 $color-shadow-theme, inset 2px 2px 0 0 var(--section-title-shadow);
    background-color: $color-title-bg;

    font-size: 0.88rem;
    line-height: 2rem;
    color: $color-font-dark;
    letter-spacing: 0;
    padding: 0 0 0 0.5rem;
    margin: 0 0 1rem 0;
}