* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: $font-family-main;
    color: $color-font;
    background-color: var(--bg-color);
}

.gif-div__title {
    height: 1.5rem;
    box-shadow: 0 1px 0 0 $color-font-dark;
    background-image: linear-gradient(270deg, var(--color-primary-light), var(--color-primary-dark));

    font-size: 0.75rem;
    line-height: 1.5rem;
    color: $color-font;
    letter-spacing: 0;
    padding: 0 0 0 0.5rem;
    overflow: hidden;
}

.section-title {
    font-size: 0.88rem;
    font-weight: 600;
    box-shadow: none;
    margin: 0.2rem;
}

.gif-center-helper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gif-container {
    width: 85%;
    max-width: 74.63rem;
    margin: 0 auto;
}

.gif-search, .gif-suggested, .gif-trending {
    margin: 0 0 4rem 0;
}