$color-font: #ffffff;
$color-font-dark: #110038;
$color-white: #ffffff;

$font-family-main: 'Chakra Petch', sans-serif;

$screen-xs-min: 321px;
$screen-sm-min: 768px;
$screen-md-min: 960px;
$screen-lg-min: 1200px;
$screen-xl-min: 1440px;