$color-day: #fff4fd;
$color-day-border: #cca6c9;
$color-title-bg: #fffafe;
$color-night: #2e32fb;
$color-night-border: rgba(51,53,143,0.20);
$color-shadow-theme: #e6dce4;
$color-box-hover: #dbdbdb;
$color-font: #ffffff;
$color-font-dark: #110038;
$color-white: #ffffff;
$color-black: #000000;
$color-sbox-border: #979797;
$color-sbox-shadow: #e6e6e6;
$color-sbox-shadow-inactive: #808080;
$color-sbox-placeholder: #b4b4b4;

$font-family-main: 'Chakra Petch', sans-serif;

$screen-xs-min: 321px;
$screen-sm-min: 768px;
$screen-md-min: 960px;
$screen-lg-min: 1200px;
$screen-xl-min: 1440px;